textarea {
    min-height: 400px;
}
.border{
    cursor: pointer;
    padding: 5px;
}

#details{
    padding-top: 20px;
    padding-bottom: 20px;
}

#body{
    padding-top: 20px;
    padding-bottom: 20px;
}

#reply_div{
    padding-top: 10px;
}

body{
    background-color: ghostwhite;
}
.view{
    background-color: white;
}